.App {
  /*display: flex;*/
  height: 100vh;
  text-align: center;
  margin: auto;
  --main-color: #a04cea;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40%;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App input {
  width: 390px;
  padding: 24px;

  background: #E6E6E6;
  border-radius: 5px;
  border: none;

  font-size: 16px;
}

.App .buttonTask {
  width: 110px;
  padding: 24px 15px;
  font-weight: 700;

  background: var(--main-color);
  color: #FFFFFF;
  
  border-radius: 5px;
  margin: 12px 10px 70px;
  border: none;

  cursor: pointer;
  transition: filter 0.2s;

  font-size: 16px;
}
.App .buttonTask:hover {
  filter: brightness(0.9);
}

.task-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 500px; 
  overflow-y: auto;
  border-radius: 20px;
  margin-bottom: 15px;
}

.task-card{
  font-size: 12px;
  padding-left: 65px;
  height: 50px;
  width: 510px;  
  background: #735bf2;
  color: #fff;
  border-radius: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 24px;
  
}

.icon{
cursor: pointer;
transition: filter 0.2s;
}

.form-select{
height: 70px;
width: 150px;
padding: 10px 20px 10px;
margin-top: 10px;
display: inline-flex;
justify-content: center;
align-items: center;
}

.edit-task{
background-color: #735bf2;
height: 60px;
width: 550px;
display: flex;
margin-bottom: 10px;

align-items: center;
justify-content: space-around;
border-radius: 5px;
}

.edit-task input{
height: 20px;
width: 350px;
padding: 24px;
background: #E6E6E6;
border-radius: 5px;
border: none;
font-size: 16px;
}

@media (max-width: 540px) {
  .task-card{
    width: 400px;
    font-size: 14px;
  }
  .edit-task{
    width: 400px;
    font-size: 8px;
  }
  .edit-task input{
    width: 240px;
  }
  #Details{
    width: 270px;
  }
}

.product-card{
  font-size: 12px;
  padding-left: 65px;
  height: 50px;
  width: 550px;  
  background: #735bf2;
  color: #fff;
  border-radius: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 24px;
}

@media (max-width: 570px) {
  .product-card{
    width: 460px;
    font-size: 14px;
  }
}

.fab{
  position: fixed;
  bottom:10px;
  right:10px;
}

.fab button{
  cursor: pointer;
  width: 48px;
  height: 48px;
  border-radius: 30px;
  background-color: var(--main-color);
  transition: filter 0.2s;
  border: none;
  box-shadow: 0 1px 5px rgba(0,0,0,.4);
  font-size: 24px;
  color: white;
}

.fab button:hover{
  filter: brightness(1.2);
}

.fab button.main{
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background-color: #04ce77;
  right: 0;
  bottom: 0;
  z-index: 20;
}

.fab button.main:before{
  content: '✅';
}

.fab #teste button.main:before{
  content: '+';
}
